:root {
  --lavender: rgba(216, 220, 255, 1);
  --gunmetal: rgba(48, 52, 63, 1);
  --rosybrown: rgba(195, 141, 148, 1);
  --pink: rgba(167, 101, 113, 1);
  --purple: rgba(86, 86, 118, 1);
}

body {
  background-color: var(--rosybrown);
  text-align: center;
}

h1 {
  color: white;
}

.top-menu {
  display: flex;
  position: fixed;
  background-image: linear-gradient(to top, var(--rosybrown), var(--gunmetal));
  top: 0;
  left: 0;
  height: 20vh;
  width: 100vw;
  opacity: 0.8;
}
